
#about {

    // background-image: url(/img/about_us.jpg);
    // background-size: cover;
    // background-repeat: no-repeat;
    // height: 100%;
.heading {
    h1 {
        font-size: 4rem;
        color: #000;
        padding-top: 7rem;
        margin-bottom: 2rem;
        span {
            color: #FFF200;
            text-shadow:.1rem .1rem .3rem #333; 
            font-family: 'lemonada',sans-serif;
        }
    }
}
.content {
    margin: 5rem auto;
    p {
        font-size: 2rem;
        text-align: justify;
    }
    button {
        outline: none;
        border: none;
        border-radius: 5rem;
        color: #333;
        font-size: 1.6rem;
        font-weight: bold;
        text-transform: capitalize;
        letter-spacing: .2rem;
        cursor: pointer;
        position: relative;
        z-index: 1;
        overflow: hidden;
        height: 4rem;
        width: 14rem;
        background: #333;
        color: #fff;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            background: #FFF200;
            height: 100%;
            width: 0%;
            transition: .2s;
            z-index: -1;
        }
        &:hover {
            &::before {
                width: 100%;
            }
            color: #333;
        }
    }
}
.image {
    text-align: center;
    img {
        width: 50%;
    }
}
}

