
#home {

	background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
	position: relative;

.home_img{
    background-image: url(/img/home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 70%;
}


	.content {
		h1 {
			font-size: 5rem;
			font-family: 'lemonada',sans-serif;
			font-weight: bolder;
			text-shadow: .1rem .1rem .3rem #333;
			color: #FFF200;
		}
		h2 {
			font-size: 3.5rem;
			font-family: 'lemonada',sans-serif;
			font-weight: bolder;
			text-shadow: .1rem .1rem .3rem #333;
			color: #fff;
			margin: 1rem 0;
		}
		p {
			font-size: 1.6rem;
			color: #ccc;
		}
		button {
			outline: none;
			border: none;
			border-radius: 5rem;
			color: #333;
			font-size: 1.6rem;
			font-weight: bold;
			text-transform: capitalize;
			letter-spacing: .2rem;
			cursor: pointer;
			position: relative;
			z-index: 1;
			overflow: hidden;
			height: 4rem;
			width: 14rem;
			background: #fff;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				background: #FFF200;
				height: 100%;
				width: 0%;
				transition: .5s;
				z-index: -1;
			}
			&:hover {
				&::before {
					width: 100%;
				}
			}
		}
	}

}
