* {
  margin: 0 auto;
  height: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Exo 2', sans-serif;
  text-transform: capitalize;
  -webkit-transition: all .5s linear;
  transition: all .5s linear;
}

html {
  scroll-behavior: smooth;
}

.main_returent {
  width: 90%;
  padding: 0vw 0vw;
  -webkit-box-shadow: 0 0 2rem #333;
          box-shadow: 0 0 2rem #333;
}

/* import styles for further html documents */
.header {
  background: #3b3a3a;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.header .heading h1 {
  font-size: 2rem;
  font-family: 'lemonada',sans-serif;
  font-weight: bolder;
  font-style: italic;
  text-shadow: .1rem .1rem .3rem #333;
  padding-top: 4rem;
  margin-bottom: 2rem;
  color: #fff;
}

.header .heading h1 span {
  color: #FFF200;
}

.header .heading p {
  color: #ccc;
  font-size: 2rem;
}

.header #logo {
  height: 10rem;
}

.own_nav {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  position: relative;
}

.own_nav ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.own_nav ul .own_li {
  margin: 0rem;
  padding: 0px 1rem;
}

.own_nav ul .own_li .own_a {
  color: #fff;
  font-size: 1.2rem;
}

.own_nav ul .own_li .own_a:hover {
  color: #FFF200;
  text-decoration: none;
}

#home {
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  position: relative;
}

#home .home_img {
  background-image: url(/img/home.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70%;
}

#home .content h1 {
  font-size: 5rem;
  font-family: 'lemonada',sans-serif;
  font-weight: bolder;
  text-shadow: .1rem .1rem .3rem #333;
  color: #FFF200;
}

#home .content h2 {
  font-size: 3.5rem;
  font-family: 'lemonada',sans-serif;
  font-weight: bolder;
  text-shadow: .1rem .1rem .3rem #333;
  color: #fff;
  margin: 1rem 0;
}

#home .content p {
  font-size: 1.6rem;
  color: #ccc;
}

#home .content button {
  outline: none;
  border: none;
  border-radius: 5rem;
  color: #333;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: .2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 4rem;
  width: 14rem;
  background: #fff;
}

#home .content button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #FFF200;
  height: 100%;
  width: 0%;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: -1;
}

#home .content button:hover::before {
  width: 100%;
}

#special {
  background-image: url(/img/special.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100vh;
}

#special .heading h1 {
  font-size: 4rem;
  color: #000;
  padding-top: 7rem;
  margin-bottom: 2rem;
  color: #fff;
}

#special .heading h1 span {
  color: #FFF200;
}

#special .heading p {
  color: #ccc;
  font-size: 2rem;
}

#special .card-container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#special .card-container .my_card {
  height: 40rem;
  width: 30rem;
  background: #fff;
  padding: 1rem;
  margin: 2rem;
  text-align: center;
  -webkit-box-shadow: 0 0 2rem #333;
          box-shadow: 0 0 2rem #333;
}

#special .card-container .my_card img {
  height: 50%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#special .card-container .my_card p {
  font-size: 1.4rem;
  margin: 2rem 0;
}

#special .card-container .my_card button {
  outline: none;
  border: none;
  border-radius: 5rem;
  color: #333;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: .2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 3rem;
  width: 12rem;
  background: #333;
  color: #fff;
}

#special .card-container .my_card button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #FFF200;
  height: 100%;
  width: 0%;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: -1;
}

#special .card-container .my_card button:hover {
  color: #333;
}

#special .card-container .my_card button:hover::before {
  width: 100%;
}

#special .card-container .my_card:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#about .heading h1 {
  font-size: 4rem;
  color: #000;
  padding-top: 7rem;
  margin-bottom: 2rem;
}

#about .heading h1 span {
  color: #FFF200;
  text-shadow: .1rem .1rem .3rem #333;
  font-family: 'lemonada',sans-serif;
}

#about .content {
  margin: 5rem auto;
}

#about .content p {
  font-size: 2rem;
  text-align: justify;
}

#about .content button {
  outline: none;
  border: none;
  border-radius: 5rem;
  color: #333;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: .2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 4rem;
  width: 14rem;
  background: #333;
  color: #fff;
}

#about .content button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #FFF200;
  height: 100%;
  width: 0%;
  -webkit-transition: .2s;
  transition: .2s;
  z-index: -1;
}

#about .content button:hover {
  color: #333;
}

#about .content button:hover::before {
  width: 100%;
}

#about .image {
  text-align: center;
}

#about .image img {
  width: 50%;
}

#dish {
  background: #3b3a3a;
  padding-bottom: 0.5rem;
  min-height: 500px;
  width: 100%;
}

#dish .heading h1 {
  font-size: 4rem;
  color: white;
  padding-top: 7rem;
  margin-bottom: 2rem;
}

#dish .heading h1 span {
  color: #FFF200;
}

#dish .heading h2 {
  color: white;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

#dish .heading h2 span {
  color: #FFF200;
}

#dish .box_container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 1rem;
  grid-gap: 3rem .25rem;
}

#dish .box_container .my_box {
  width: 19rem;
  background: #fff;
  padding: 0rem;
  border: 10px solid #fff;
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  position: relative;
  -webkit-box-shadow: 0 0 .5rem #333;
          box-shadow: 0 0 .5rem #333;
}

#dish .box_container .my_box img {
  height: 16rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#dish .box_container .my_box .info {
  position: absolute;
  padding-bottom: 1rem;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(51, 51, 51, 0.6);
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  -webkit-transform: scale(0);
          transform: scale(0);
}

#dish .box_container .my_box .info h3 {
  font-size: 1.5rem;
}

#dish .box_container .my_box .info p {
  font-size: 1.3rem;
  border-bottom: 0.2rem solid #FFF200;
  border-top: 0.2rem solid #FFF200;
  margin: 1rem 2rem;
}

#dish .box_container .my_box .info button {
  outline: none;
  border: none;
  border-radius: 5rem;
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: .1rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 3rem;
  width: 12rem;
}

#dish .box_container .my_box .info button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #FFF200;
  height: 100%;
  width: 0%;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: -1;
}

#dish .box_container .my_box .info button:hover::before {
  width: 100%;
}

#dish .box_container .my_box:hover .info {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#contact {
  min-height: 100vh;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#contact .heading h1 {
  font-size: 4rem;
  color: #000;
  padding-top: 7rem;
  margin-bottom: 2rem;
}

#contact .heading h1 span {
  color: #FFF200;
}

#contact form {
  background: #fff;
  padding-top: 2rem;
  margin: 1rem 2rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 2rem #333;
          box-shadow: 0 0 2rem #333;
}

#contact form .inputBox {
  position: relative;
  text-align: center;
}

#contact form .inputBox input {
  outline: none;
  border: .2rem solid #333;
  border-radius: .2rem;
  margin: 2rem 0;
  padding: 0 1rem;
  background: none;
  height: 4rem;
  width: 90%;
  font-size: 2rem;
}

#contact form .inputBox input:focus ~ h3 {
  font-size: 1.6rem;
  left: 6%;
  top: -.5rem;
  color: #ff3300;
}

#contact form .inputBox input:valid ~ h3 {
  font-size: 1.6rem;
  left: 6%;
  top: -.5rem;
  color: #ff3300;
}

#contact form .inputBox textarea {
  outline: none;
  border: .2rem solid #333;
  border-radius: .2rem;
  margin: 2rem 0;
  padding: 0 1rem;
  background: none;
  height: 4rem;
  width: 90%;
  font-size: 2rem;
  padding: 1rem;
  resize: none;
  height: 20rem;
}

#contact form .inputBox textarea:focus ~ h3 {
  font-size: 1.6rem;
  left: 6%;
  top: -.5rem;
  color: #ff3300;
}

#contact form .inputBox textarea:valid ~ h3 {
  font-size: 1.6rem;
  left: 6%;
  top: -.5rem;
  color: #ff3300;
}

#contact form .inputBox h3 {
  position: absolute;
  top: 3rem;
  left: 7%;
}

#contact form input[type="submit"] {
  outline: none;
  border: none;
  border-radius: 5rem;
  color: #333;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: .2rem;
  cursor: pointer;
  position: relative;
  z-index: 1;
  overflow: hidden;
  height: 4rem;
  width: 12rem;
  margin-bottom: 2rem;
  margin-left: 4%;
  background: #333;
  color: #fff;
}

#contact form input[type="submit"]::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #FFF200;
  height: 100%;
  width: 0%;
  -webkit-transition: .5s;
  transition: .5s;
  z-index: -1;
}

#contact form input[type="submit"]:hover {
  color: #333;
  background: #FFF200;
  -webkit-transition: .5s;
  transition: .5s;
}

#contact form input[type="submit"]:hover::before {
  width: 100%;
}

.footer {
  background: #3b3a3a;
  margin-top: 2rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.footer .heading h1 {
  font-size: 2rem;
  font-family: 'lemonada',sans-serif;
  font-weight: bolder;
  font-style: italic;
  text-shadow: .1rem .1rem .3rem #333;
  padding-top: 4rem;
  margin-bottom: 2rem;
  color: #fff;
}

.footer .heading h1 span {
  color: #FFF200;
}

.footer .heading p {
  color: #ccc;
  font-size: 2rem;
}

.footer #logo {
  height: 10rem;
}

.footer h3 {
  color: #fff;
  font-size: 1.7rem;
}

.footer h3 span {
  font-size: 2.2rem;
  color: #FFF200;
}
/*# sourceMappingURL=style.css.map */